h1 {
    color: #b60202;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

body {
    background-color: #FFDB58;
}

#enter_text {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}